!!!
%html
  %head
    %title TemplateRails
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if notice then
      %p.notice= notice
    - if alert then
      %p.alert= alert
    = yield
